<div class="container">
  <div class="calculator" style="margin: 10px; border: 10px; border-color: black;">
    <h1>Calculadora</h1>
    <div>
        <label>Valor 1</label>
        <input type="number" [(ngModel)]="valor1" placeholder="Ingrese el primer valor">    </div>
    <div>
        <label>Valor 2</label>
        <input type="number" [(ngModel)]="valor2" placeholder="Ingrese el segundp valor">    </div>
    <div>
        <label>Resultado</label>
        <input type="text" [(ngModel)]="resultado">
    </div>
    <app-componente-hijo 
        [valor1]="valor1" 
        [valor2]="valor2" 
        (resultado)="Resultado($event)">
    </app-componente-hijo>
  </div>
</div>
