<div class="calculator">
  <h1>Calculadora</h1>
  <div>
      <label>Valor 1</label>
      <input type="number" (input)="asignarValor1($event)" placeholder="Ingrese el primer valor">
  </div>
  <div>
      <label>Valor 2</label>
      <input type="number" (input)="asignarValor2($event)" placeholder="Ingrese el segundo valor">
  </div>
  <div>
      <label>Resultado</label>
      <input type="text" [value]="resultado">
  </div>
  <app-componente-hijo 
      [valor1]="valor1" 
      [valor2]="valor2" 
      (resultado)="Resultado($event)">
  </app-componente-hijo>
</div>